@logo-color: #f46c64;

.login {
  height: 100%;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-block {
    width: 900px;
    height: 580px;
    display: flex;
    box-shadow: 17px 48px 162px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;

    & > div {
      flex: 1;
    }
  }

  &-logo {
    // background: url('~@/assets/logo.png') no-repeat;
    display: flex;
    justify-content: flex-end;

    &-img {
      width: 150px;
      height: 130px;
      margin-top: 250px;
    }
  }
  &-content {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-form {
    width: 360px;
  }
}

.login-header {
  text-align: center;
}

.login-app-name {
  color: @logo-color !important;
  margin-bottom: 30px !important;
}
